.Header {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 6vh;
    width: 100vw;
}

.Header h1 {
    color: #E0E0E0;
    font-size: 2rem;
}