.Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: #000000 0px 0px 2px;
}

.Card .CardHeader .ButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0rem 0rem 0rem;
}

.Card .ServiceButton {
    background-color: #151615;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    cursor: pointer;

    &:hover {
        background-color: #3c523c;
    }
}